*{
    font-family: 'Raleway';
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
scroll-padding-top: 2rem;
}



body{
    color: #fff;
    background: #AF90D3;
}

html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    width: 0.5rem;
    background:rgb(86, 54, 122);
}

.container{
    max-width: 960px;
    margin: auto;
    width: 100%;
}

.scrol-top{
    z-index: 1;
}
img{
    width: 100%;
}

section{
    padding: 8rem 0 2rem;
}

a{
    text-decoration: none;
}


li{
    list-style: none;
}

.navC{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    max-width: 960px;
    margin: auto;
    width: 100%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10001;
}



.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(86, 54, 122);
}

.navbar{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.navlink{
    font-size: 0.94rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: #fff;
}

.navlink:hover{
    color: #fff;
    background: rgb(10, 10, 10);;
    transition: 0.3s all linear;
}

.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div{
    display: block;
    background:  rgb(86, 54, 122);
    height: 2px;
transition: 0.3s;
    width: 24px;
}

.move .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}

.move .line2{
    opacity: 0;
}

.move .line3{
    transform: rotate(-45deg) translate(-5px,-5px);
}

.home{
    z-index: -1;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}

.home-content{
    position: relative;
    max-width: 400px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-text h2{
    color: #fff;
  
}

.home-text h3{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 2.1rem;
    color: #fff;
}

.home-text h3::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -15px;
    width: 20px;
    height: 2px;
    background: rgb(86, 54, 122);
}

.home-text h3::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right: -35px;
    width: 20px;
    height: 2px;
    background: rgb(86, 54, 122);
}

.home-text h2{
    font-size: 4.5rem;
    line-height: 5.8rem;
}

.color{
    color:  rgb(86, 54, 122);
}


.home-text p{
  color: #fff;
    font-size: 0.950rem;
    margin-bottom: 0.5rem;
}

.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx{
    text-align: center;
    font-size: 1.3rem;
    border-radius: 50%;
    color: #fff;
   
}

.social .bx:hover{
    background: rgb(10, 9, 9);
    transition: 0.3s all linear;
}

.heading{
    font-size: 2rem;
    text-transform: capitalize;
    color: fff;
    text-align: center;
    margin-bottom: 2rem;
}

.about{
    min-height: 500px;
}

.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.about-data span{
font-size: 1rem;
font-weight: 500;
text-transform: uppercase;
color:  rgb(86, 54, 122);
}

.about-data p{
    font-size: 0.938rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
    margin: 1rem 0;
}

.btn{
    width: 160px;
    font-size: 0.97rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: rgb(9, 8, 8);
    background:  rgb(86, 54, 122);
    padding: 12px 16px;
    border-radius: 0.4rem;
    margin-top: 1rem;
}

.btn .bx{
    font-size: 1.2rem;
}


.btn:hover{
    color: #fff;
    background: rgb(9, 8, 8);
    transition: 0.3s all linear;
}


.skils{
    margin: 5px;
    margin-left: 6px;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    border-style: none;
    padding: 3.5px 11px ;
    border-radius: 0.2rem;
    background-color: rgb(86, 54, 122);
}

.about-text p{
font-size: 0.938rem;
text-align: justify;
margin-bottom: 1.5rem;
letter-spacing: 1px;
}

.Professional-content{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,0.3fr);
    gap: 3rem;
}

.Professional-box{
    display: flex;
    background:  rgb(86, 54, 122);
    align-items: center;
    text-align: center;
    padding: 30px 20px;
    border-radius: 0.4rem;
    flex-direction: column;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Professional-box .bx{
    font-size: 1.4rem;
    color: #fff;
    padding: 10px;
    border-radius: 5rem;
    border: 2px dashed rgb(43, 40, 40);
}

.Professional-box h2{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.5rem 0 ;
    color: #fff;
}

.Professional-box p{
    font-size: 0.9rem;
}

.Professional-box:hover{
    transform: scale(1.05);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}


.protfolio-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.protfolio-box{
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 1rem;
    overflow: hidden;
}

.p-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.protfolio-overlay{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(30, 31, 32, 0.7);
}

.protfolio-overlay h2{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.protfolio-overlay .bx{
    font-size: 24px;
    padding: 10px;
    background: rgb(29, 27, 27);
    color: #fff;
    border-radius: 4px;
}

.protfolio-overlay .bx:hover{
    background: rgb(9, 8, 8);
    transition: 0.3s all linear;
}

.protfolio-box:hover  .protfolio-overlay{
    top: 0;
    transition: 0.3s all ease ;
}


.Education-content{
    display: grid;
    grid-template-columns: repeat(1,300px);
    justify-content: center;
    gap: 1.5rem;
}

.Education-box{
    width: 20rem;
    padding: 30px 20px;
    background-color:  rgb(86, 54, 122);
    border-radius: 0.4rem;
    text-align: center;
}

.Education-box h2{
    font-size: 1.2rem;
}

.Education-box span{
    font-size: 0.845rem;
}


.contact-form{
    max-width: 600px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}

.contact-form input, .contact-form textarea{
    border: none;
    outline: none;
    padding: 15px;
    color: rgb(41, 39, 37);
    font-size: 0.9rem;
    background:  rgb(86, 54, 122);
}

.contact-form .send-btn{
    width: 120px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    background:  rgb(86, 54, 122);
    cursor: pointer;
}

.contact-form .send-btn:hover{
    background: rgb(9, 8, 8);
    transition: 0.3s all linear;
}

.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.4rem;
    padding: 30px 0;
}

.footer p{
    font-size: 0.9rem;
}

.footer-link{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.footer-link a{
    font-size: 0.9rem;
    font-weight: 400;
    color: #fff;
}

.footer-link a:hover{
    color: #fff;
    transition: 0.3s all linear;
}

.header-active{
    z-index: 1;
    background-color: rgb(86, 54, 122);
    transition: 0.4s;
}




.scrol-top{
    position: fixed;
    bottom: -100%;
    right: 1.5rem;
}

.scrol-top .bx{
padding: 8px;
font-size: 1.3rem;
color: black;
background:  rgb(86, 54, 122);
border-radius: 0.2rem;
}

.scrol-top .bx:hover{
    color: #fff;
    background: rgb(9, 8, 8);
    transition: 0.3s;
    
}



.scrol-active{
    bottom: 2rem;
    transition: 0.3s;
}

@media (max-width:990px){
    .container{
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width:892px){
section {
    padding: 2rem 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.heading{
    font-size: 4rem;
}

.protfolio-box{
    height: 257px;
}
}

@media (max-width:775px){


.logo{
    font-size: 1.1rem;
}

.home{
    z-index: 0;
    min-height: 500px;
    padding-top: 6rem;
}

.home-text h3{
    font-size: 1rem;
    color: #fff;
    line-height: 3.8rem;
}

.home-text p{
    font-size: 0.825rem;
}

.srevers-content{
    grid-template-columns: repeat(2,1fr);
}

.protfolio-box{
    height: 245px;
}

.menu-icon{
    display: flex;
}

.navbar{
    z-index: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background-color: rgb(86, 54, 122);
    color:  rgb(86, 54, 122);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar .navlink:hover{
    color:  rgb(86, 54, 122);
}

.open-menu{
    right: 0;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navlink{
    display: block;
    margin: 1rem 0;
}

}

@media (max-width:990px){
    .about-content{
        grid-template-columns: 1fr;
    }
    .about-data span{
        font-size: 0.9rem;
    }

    .about-data h2{
        font-size: 0.7rem;
        line-height: 2.3rem;
        font-weight: 600;
        margin: 0.8rem 0;
    }
.logo{
    margin-left: 20px;
}

.menu-icon{
    margin-right: 10px;
}

    .heading{
        font-size: 2.0rem;
    }


    .project-content{
        grid-template-columns: repeat(2,200px);
    }
}

@media (max-width:450px){
   
    .home{
        min-height: 450px;
        padding-top: 5rem;
    }

    .home-text{
        font-size: 2.1rem;
        line-height: 3.2rem;
    }

    .home-text p br{
        display: contents;
    }

    .about-data h2{
        font-size: 0.5rem;
        line-height: 2.1rem;
        margin: 0.6rem 0;
    }

    .srevers-content ,.protfolio-content , .project-content{
        grid-template-columns: 1fr;
    }

    .footer-link{
        flex-direction: column;
        row-gap: 1rem;
    }

}

@media (max-width:375px){
  
    .navbar{
        width: 100%;
    }
}